<div class="row" *ngIf="fundDetails">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <h3>{{fundDetails.meta.scheme_name}} </h3>
                <p>
                   <span [ngStyle]="{'color': changePercent> 0 ? 'green':'red'}">
                       {{currentNav | currency :'INR'}} ({{changePercent | percent :'1.1-2'}})
                    </span>
                    as on {{fundDetails.data[0].date}}
                </p>
            </div>
            <div class="col-md-4">
                <br/>
                <button class="btn btn-primary" type="button">Add to My Portfolio</button>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12">
                <google-chart [type]="chartConfig.type"
                              [data]="chartConfig.data"
                              [columns]="chartConfig.columnNames"
                              [options]="chartConfig.options"
                              [width]="chartConfig.width"
                              [height]="chartConfig.height">
                </google-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="fundHouse">Fund House</label>
                <p>{{fundDetails.meta.fund_house}}</p>
            </div>
            <div class="col-md-4">
                <label for="fundHouse">Scheme Type</label>
                <p>{{fundDetails.meta.scheme_type}}</p>
            </div>
            <div class="col-md-4">
                <label for="fundHouse">Scheme Category</label>
                <p>{{fundDetails.meta.scheme_category}}</p>
            </div>
        </div>
    </div>
</div>