<div class="row">
    <div class="col-md-12">
        <div class="row">
            <form (ngSubmit)="onSearch()" #searchForm="ngForm">
                <div class="col-md-8 form-group">
                    <input type="text" 
                           name="mutualFundSearch" 
                           id="mutualFundSearch" 
                           class="form-control" 
                           placeholder="Search Mutual Fund"
                           ngModel
                           required>
                </div>
                <div class="col-md-4">
                    <button type="submit"
                            class="btn btn-primary" 
                            [disabled]="searchForm.invalid">
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div class="row" >
            <div class="col-md-8" *ngIf="isSearchCompleted">
                <label for="searchResult">Search Result</label>
                <ul>
                    <div class="row" 
                        *ngFor="let fundSearchData of fundSearchResultData; let i=index;">
                        <li>
                            <a style="cursor: pointer;"
                            (click)="onGetFundDetails(fundSearchData.schemeCode)">
                                {{fundSearchData.schemeName}}
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="isFundDetailsAvailable">
            <hr/>
            <div class="col-md-12">
                <app-mutual-fund-detail></app-mutual-fund-detail>
            </div>
        </div>
    </div>
</div>
